# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
ios/
android/

# Build artifacts
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
*.log
